@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background: #000;
  --color: #fff;
  --primary-color: #7cba72;
  --secondary-color: #40ab7e;
  --tertiary-color: #247a70;
  --quaternary-color: #0c4c5a;
  --border-color: #0e1220;
  --section-description-color: #a9b0be;

  font-size: 17px;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--color);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #000;
    --color: #000;
    --font-family: 000;
    --font-size: 000;
    --font-weight: 000;
  }
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.header {
  --background: #0e1220;

  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  display: flex;
}

/* Info message section */
.info {
  font-size: 0.824rem;
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  padding: 10px;
  color: #000;
}

.info__icon.arrow-icon {
  background: #000;
  margin-left: 10px;
  vertical-align: middle;
}

.arrow-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: var(--primary-color);
  -webkit-mask: no-repeat center / cover url("./assets/arrow-right.svg");
  mask: no-repeat center / cover url("./assets/arrow-right.svg");
  box-shadow: 0 14px 8px 0 rgba(34, 60, 80, 0.2);
}

/* Header section */
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  font-size: 0.824rem;
}

.header__content-right {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 135px;
}

.header__content-right nav menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__content-right nav menu li {
  padding: 0.471rem 0.941rem;
}

.login {
  margin: 0.941rem 0 0.941rem 0.824rem;
  padding: 0.588rem 2.824rem;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: var(--background);
  border-radius: 1.765rem;
}

.login:hover {
  background-color: color-mix(in srgb, var(--secondary-color) 30%, transparent);
}

.login:active {
  background-color: color-mix(in srgb, var(--secondary-color) 60%, transparent);
}

.demo {
  margin: 0.941rem 0 0.941rem 0.824rem;
  padding: 0.588rem 1.176rem;
  border: 2px solid var(--primary-color);
  color: #000;
  background-color: var(--primary-color);
  border-radius: 1.765rem;
}

.demo:hover {
  background-color: color-mix(in srgb, var(--primary-color) 90%, transparent);
}

.demo:active {
  background-color: color-mix(in srgb, var(--primary-color) 70%, transparent);
}

/* Home section */

.home {
  flex-direction: column;
  align-items: center;
  padding-top: 2.353rem;
}

.home__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #000;
  box-sizing: border-box;
  width: 100%;
  height: 496px;
  background: var(--secondary-color);
  padding: 95px 162px;
  z-index: 3;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 0 0 var(--border-color);
}

.home__decoration {
  position: absolute;
  display: block;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 0 0 var(--border-color);
}

.home__decoration.first {
  background: var(--primary-color);
  width: 733px;
  height: 544px;
  top: 6px;
  left: -56px;
  z-index: 1;
}

.home__decoration.second {
  background: var(--tertiary-color);
  width: 717px;
  height: 520px;
  top: 50px;
  left: 342px;
  z-index: 2;
}

.home__title {
  display: block;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 3.882rem;
  margin: 0 0 30px;
}

.home__description {
  text-align: center;
  font-size: 1.235rem;
}

.home__demo {
  margin: 0 auto;
  margin-top: 20px;
  background: var(--primary-color);
  padding: 19px 33px 27px;
  border: 2px solid var(--border-color);
  border-radius: 60px;
  box-shadow: 0 4px 0 0 var(--border-color);
  font-size: 1.235rem;
}

.home__funders {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.home__funders img {
  height: 40px;
  max-width: 194px;
  object-fit: contain;
}
.home__funders img:first-child {
  margin-top: -10px;
}

.home__funders img:last-child {
  margin-top: -15px;
  height: 35px;
}

.case-scroll {
  margin-top: 100px;
  border: none;
  background: transparent;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 1.235rem;
}

.case-scroll:hover {
  opacity: 0.7;
}

.case-scroll:active {
  color: var(--secondary-color);
}

.case-scroll__icon {
  margin-left: 1rem;
}

/* Forecast section */

.forecast {
  align-items: center;
  justify-content: space-between;
  margin-top: 130px;
}

.forecast__content {
  width: 330px;
}

.forecast__description {
  max-width: 300px;
}

.section__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.529rem;
  font-weight: 700;
  margin: 0 0 1.235rem;
}

.section__description {
  font-weight: 700;
  color: var(--section-description-color);
  margin: 0;
}

.forecast__visual {
  position: relative;
}

.forecast__visual .visual,
.forecast__visual .visual__decoration {
  width: 583px;
  height: 430px;
}

.visual img {
  width: 100%;
  object-fit: contain;
}

.visual {
  position: relative;
  z-index: 4;
}

.visual__decoration {
  position: absolute;
  display: block;
  border: 2px solid var(--border-color);
  box-shadow: 0 4px 0 0 var(--border-color);
}

.visual__decoration.first {
  background: var(--secondary-color);
  z-index: 3;
}

.visual__decoration.second {
  background: var(--tertiary-color);
  z-index: 2;
}

.visual__decoration.third {
  background: var(--quaternary-color);
  z-index: 1;
}

.forecast__visual .visual__decoration.first {
  top: 24px;
  left: 24px;
}

.forecast__visual .visual__decoration.second {
  top: 16px;
  left: 16px;
}

.forecast__visual .visual__decoration.third {
  top: 8px;
  left: 8px;
}

/* Timeline section */

.timeline {
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin-top: 160px;
}

.timeline__title {
  max-width: 576px;
}

.timeline__description {
  max-width: 576px;
}

.timeline__visual {
  position: relative;
  margin-top: 50px;
  margin-bottom: 82px;
}

.timeline__visual .visual,
.timeline__visual .visual__decoration {
  width: 973px;
  height: 500px;
}

.timeline__visual .visual {
  top: 26px;
  left: 24px;
}

.timeline__visual .visual__decoration.first {
  top: 16px;
  left: 16px;
}

.timeline__visual .visual__decoration.second {
  top: 8px;
  left: 8px;
}

.timeline__visual .visual__decoration.third {
  top: 0;
  left: 0;
}

.timeline__features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
  padding: 40px 10px;
  font-size: 0.941rem;
  line-height: 1.75;
  color: var(--section-description-color);
}

.feature::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: var(--primary-color);
  -webkit-mask: no-repeat center / cover url("./assets/ok.svg");
  mask: no-repeat center / cover url("./assets/ok.svg");
  margin-right: 10px;
}

/* Command section */

.command {
  align-items: center;
  justify-content: space-between;
  margin-top: 167px;
}

.command__content {
  width: 340px;
}

.command__description {
  max-width: 285px;
}

.command__visual .visual,
.command__visual .visual__decoration {
  width: 560px;
  height: 378px;
}

.command__visual .visual__decoration.first {
  top: -4px;
  left: -2px;
}

.command__visual .visual__decoration.second {
  top: -12px;
  left: 8px;
}

.command__visual .visual__decoration.third {
  top: -20px;
  left: 16px;
}

/* Team section */

.team {
  align-items: center;
  justify-content: center;
  margin-top: 167px;
  flex-direction: column;
}

.team__content {
  max-width: 580px;
  text-align: center;
  margin-bottom: 1.25rem;
}

.team__visual {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.75rem;
  position: relative;
}

.team__visual figure {
  position: relative;
  z-index: 4;
  margin: 0;
}

.team__visual figure img {
  width: 403px;
  height: 295px;
}

.team__visual .visual__caption {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}

.team__visual .visual__caption-icon {
  display: inline-block;
  width: 1.875rem;
  height: 1.875rem;
  margin-right: 1rem;
  background: url("./assets/slack-logo.png") no-repeat center / cover;
}

.team__visual .visual:first-child .visual__caption-icon {
  background: url("./assets/gcalendar.png") no-repeat center / cover;
}

.team__visual .visual__decoration {
  width: 490px;
  height: 295px;
}

.team__visual .visual:first-child .visual__decoration.first {
  top: 74px;
  left: -24px;
}

.team__visual .visual:first-child .visual__decoration.second {
  top: 66px;
  left: -16px;
}

.team__visual .visual:first-child .visual__decoration.third {
  top: 58px;
  left: -8px;
}

.team__visual .visual__decoration.first {
  top: 74px;
  left: 24px;
}

.team__visual .visual__decoration.second {
  top: 66px;
  left: 16px;
}

.team__visual .visual__decoration.third {
  top: 58px;
  left: 8px;
}
